<div class="post">
<span class="date"><a href="{{permalink}}">{{date}}</a></span>
<span class="title">{{title}}</span>
<ul class="tags">
  {{#each tags}}
  <li class="tag">{{this}}</li>
  {{/each}}
</ul>
<div class="content">
{{{html}}}
</div>
</div>
