<span class="date"><a href="{{permalink}}">{{date}}</a></span>
<span class="title"><a href="{{permalink}}">{{title}}</a></span>
<div class="tags">
  <i class="fa fa-tags"></i>
  <ul>
    {{#each tags}}
    <li class="tag"><a href="/tags/{{this}}">{{this}}</a></li>
    {{/each}}
  </ul>
</div>
