<div class="post">
  <div class="post-header">
    <span class="date"><a class="permalink" href="{{permalink}}">{{date}}</a></span>
    <span class="title"><a class="permalink" href="{{permalink}}">{{title}}</a></span>
    <div class="tags-region"></div>
  </div>
  <div class="content">{{{html}}}</div>
  <div class="post-footer">
    <span class="social-buttons">
      <span class="hatena-bookmark"><a href="{{addBookmarkUrl}}" title="ブックマークする" target="_blank"><i class="fa fa-hatena-bookmark"></i><span class="social-button-label">Bookmark</span></a></span>
      <span class="twitter"><a href="{{postTweetUrl}}" title="ツイートする" target="_blank"><i class="fa fa-twitter"></i><span class="social-button-label">Tweet</span></a></span>
    </span>
  </div>
</div>
<nav>
  <ul>
    {{#if olderPath}}<li class="older"><a href="{{olderPath}}" title="{{olderTitle}}"><i class="fa fa-chevron-left"></i> {{olderDate}}</a></li>{{/if}}
    {{#if newerPath}}<li class="newer"><a href="{{newerPath}}" title="{{newerTitle}}">{{newerDate}} <i class="fa fa-chevron-right"></i></a></li>{{/if}}
  </ul>
</nav>
