<div class="post">
<span class="date"><a class="permalink" href="{{permalink}}">{{date}}</a></span>
<span class="title"><a class="permalink" href="{{permalink}}">{{title}}</a></span>
<ul class="tags">
  {{#each tags}}
  <li class="tag"><a href="/tags/{{this}}">{{this}}</a></li>
  {{/each}}
</ul>
<div class="content">
{{{html}}}
</div>
</div>
