<div class="post">
  <span class="date"><a class="permalink" href="{{permalink}}">{{date}}</a></span>
  <span class="title"><a class="permalink" href="{{permalink}}">{{title}}</a></span>
  <div class="tags-region"></div>
  <div class="content">{{{html}}}</div>
</div>
